body {
    color: #342A21;
    font-family: Arial;
    padding: 2em;
    margin: 0;
}

.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
}

.item {
    border-top: 1px solid #C9B79C;
    font-weight: bold;
}

.item:first-child {
    border-top: 0;
}

.image {
    height: 0;
    overflow: hidden;
}

.radiobutton {
    appearance: none;
}

.radiobutton:checked ~ .image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.icons {
    display: inline;
    position: relative;
}

.icons i:first-child {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.radiobutton:checked ~ .icons i:first-child {
    transform: rotate(90deg);
}

@media only screen and (min-width: 320px) {
    body {
        padding: 2em;
    }

    .item {
        font-size: 1.5em;
    }

    .radiobutton:checked ~ .image {
        width: 250px;
    }
}

@media only screen and (min-width: 820px) {
    body {
        padding: 2.5em 3em;
    }

    .item {
        font-size: 2em;
    }

    .radiobutton:checked ~ .image {
        width: 300px;
    }
}

@media only screen and (min-width: 1920px) {
    .item {
        font-size: 2.5em;
    }
}
